.terminalContainer {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  font: var(--font-loto);
  font-weight: 300;
  row-gap: 10px;
  background-color: var(--light-gray);

  & > section {
    flex: 1;
    background-color: white;
    padding: 6px;
  }
}

.terminal-header {
  font-weight: 300;
  font-size: 20px;
  padding: 0;
  line-height: 8px;
}

.terminal-tests {
  display: flex;
  flex-direction: column;
  column-gap: 10px;
}
